<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>347976374091-7e1tebncbu91tbbkqpjjlso1uhc0im12.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.347976374091-7e1tebncbu91tbbkqpjjlso1uhc0im12</string>
	<key>API_KEY</key>
	<string>AIzaSyD-znK1g222S-lqVTWmfz_o68yzIAEKQns</string>
	<key>GCM_SENDER_ID</key>
	<string>347976374091</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.user.home.UberClone</string>
	<key>PROJECT_ID</key>
	<string>ubercloneapp-2a85a</string>
	<key>STORAGE_BUCKET</key>
	<string>ubercloneapp-2a85a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:347976374091:ios:29d7e3ff70da00a201bace</string>
	<key>DATABASE_URL</key>
	<string>https://ubercloneapp-2a85a-default-rtdb.firebaseio.com</string>
</dict>
</plist>